@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">


            <div class="card shadow border-0 mt-4">
                <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="text-white py-2">Create Company</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">

                    <form id="account" class="row" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="border p-3">
                            <div class="mb-3">
                                <label asp-for="Input.Email" class="my-2"></label>
                                <input asp-for="Input.Email" type="text" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Input.Password" class="my-2"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="row ">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary w-100">Create</button>
                                </div>
                                <div class="col-6">
                                    <a asp-controller="Home" asp-action="Index" class="btn border text-opacity-75 text-black w-100">Back To List</a>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



