@using BulkeyBook.Model
@model Product


<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Delete Product</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<p>Delete Product ID @Model.Id ?</p>
		<form class="row mb-5" method="post">
			<div class="border p-3">


				<div class="mb-3">
					<label asp-for="Title" class="my-2"></label>
					<input asp-for="Title" type="text" class="form-control" disabled="true" />
				</div>

				<div class="mb-3">
					<label asp-for="Author" class="my-2"></label>
					<input asp-for="Author" class="form-control" disabled="true" />
				</div>

				<div class="mb-3">
					<label asp-for="ISBN" class="my-2"></label>
					<input asp-for="ISBN" class="form-control  user-select-none" disabled="true" />
				</div>

				<div class="mb-3 ">
					<label asp-for="Price" class="my-2"></label>
					<input asp-for="Price" class="form-control" disabled="true" />
				</div>

				<div class="row ">
					<div class="col-6">
						<button type="submit" class="btn btn-danger w-100">DELETE</button>
					</div>
					<div class="col-6">
						<a asp-controller="Product" asp-action="Index" class="btn border text-opacity-75 text-black w-100">Back To List</a>
					</div>
				</div>

			</div>
		</form>

	</div>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}