@using BulkeyBook.Model
@model List<Product>

<div class="container my-5 box-shadow pb-5 rounded">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3 rounded-top">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">All Product</h2>
            </div>
        </div>
    </div>

    <div class="col-6 text-end my-3 w-100 ml-5">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-secondary"><i class="bi bi-plus-lg"></i>Create New Product </a>
    </div>


    <table id="tblData" class="table table-bordered">

        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                @* <th scope="col"></th> *@
            </tr>
        </thead>

        
    </table>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}